#comments {
  margin-top: 2rem;

  p {
    font-size: 1rem !important;
    line-height: $theme-line-height !important;
  }

  ol {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: .35rem;
  }

  li {
    padding-left: 1.25rem;

    article {
      margin-bottom: 1rem;
      border-bottom: none;
    }

    .avatar {
      display: none !important;
    }

    .comment-meta {
      .comment-author {
        color: $theme-black;
        font-size: 1.25rem;

        .says {
          display: none !important;
        }
      }

      .comment-metadata {
        font-size: .75rem;
        color: $theme-primary-light;
        margin-bottom: 1rem;
      }
    }

    .comment-body {
      margin-right: .35rem;
      margin-bottom: .35rem;

      border: 1px solid $theme-grey-light;
      border-left-width: .2rem;
      border-left-color: $theme-primary-light !important;
      border-radius: .35rem;

      padding: .5rem 1rem .5rem 1rem;

      .reply {
        text-align: right;
      }
    }
  }

  #respond {
    h3 {
      font-size: 1.25rem;
      margin-bottom: 0rem;
    }

    margin-top: 2rem;

    #Comment {
      font-family: $font-body;
    }

    .form-submit {
      text-align: center;

      #submit {
        background-color: $theme-coaccent;
        border-color: $theme-coaccent;
        color: $theme-white;

        &:hover {
          background-color: $theme-coaccent-light;
          border-color: $theme-coaccent-light;
          color: $theme-white;
        }
      }
    }

  }

}