.hfeed {
  .site-main{
    article {
      margin-bottom: 3rem;
    }
  }

  .h2, h2 {
    a {
      color: $theme-primary-semi-dark;
    }

  }

  .understrap-read-more-link {
    background-color: $theme-primary-medium;
    border-color: $theme-primary-medium;
    color: $theme-white;

    &:hover {
      background-color: $theme-primary-semi-dark;
    }
  }
}