
#wrapper-footer {

  background-color: $theme-primary-semi-dark !important;
  font-family: $font-body;
  color: $theme-white-alpha-bright;

  #footer-widget-row, #footer-legal {
    a {
      color: $theme-white-alpha-bright;

      &:hover {
        color: $theme-white-alpha-dim;
      }
    }
  }

  #footer-widget-row {

    #wrapper-footer-full {
      background-color: $theme-primary-semi-dark;
    }

    .footer-widget {
      color: $theme-white;

      .widget-title, h1, h2, h3, h4, h5, h6 {
        color: $theme-coprimary-light;
        font-weight: bold;
        font-family: $font-accent;
      }

      ul {
        list-style-type: none;
        font-size: .8rem;
        padding-left: 0rem;
      }
    }

  }

  #footer-legal {
    border-top: 1px solid $theme-primary-light;
    font-size: .8rem;
    color: $theme-primary-ultra-light;
  }
}