

#wrapper-navbar {
  background-color: $theme-primary-light !important;
  font-family: $font-accent;
  font-size: 1.2rem;

  a {
    color: $theme-white-alpha-bright;

    &:hover {
      color: $theme-white-alpha-dim;
    }
  }

  .active {
    a {
      color: $theme-white !important;
    }
  }

  .dropdown-menu {
    background-color: $theme-primary-light;

    a:hover {
      background-color: $theme-primary-light;
    }
  }

}