// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Colors
//$theme-primary: #2c4870;
//$theme-primary-light: #4b5d77;

//$theme-primary: #162955;
//$theme-primary-light: #2E4272;
//$theme-coprimary: #565656;
//$theme-coprimary-light: #dbdbce;
//$theme-accent: #552700;
//$theme-accent-light: #AA6C39;
//$theme-coaccent: #20418E;
//$theme-coaccent-light: #3B5798;


$theme-primary-dark: #203651;
$theme-primary-semi-dark: #274463;
$theme-primary-medium: #4f688c;
$theme-primary-semi-light: #4465e4;
$theme-primary-light: #6d8eca;
$theme-primary-ultra-light: #e6e9fc;
$theme-coprimary-dark: #161b45;
$theme-coprimary-medium: #454d8e;
$theme-coprimary-light: #899ff1;
$theme-accent: #f17630;
$theme-accent-light: #faad77;
 
$theme-grey: grey;
$theme-grey-mid: lightgrey;
$theme-grey-light: #ececec;
$theme-white: #ffffff;
$theme-white-alpha-bright: rgba(255, 255, 255, .8);
$theme-white-alpha-dim: rgba(255, 255, 255, .6);
$theme-shadow: rgba(0, 0, 0, .1);
$theme-transparent: rgba(0, 0, 0, 0);
$theme-black: #00040A;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed|Roboto+Slab');
$font-headline: 'Roboto Slab', serif;
$font-body: 'Open Sans', sans-serif;
$font-accent: 'Roboto Condensed', sans-serif;
$theme-font-size: 1.08rem;
$theme-line-height: 1.6rem;

// Images
$primary-gradient: linear-gradient(to bottom, $theme-primary-dark 66%, $theme-primary-semi-dark 67%, $theme-primary-semi-dark 100%);

// Misc
$breadcrumb-divider: quote(">");

$theme-primary: $theme-primary-medium;
// Override Bootstrap Colors
$primary: $theme-primary-medium;
$secondary: $theme-primary-semi-light;
